sphinx-book-theme==1.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-details-directive==0.1.0
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-mermaid==0.8.1
sphinxcontrib-packages==1.1.0
sphinxcontrib-serializinghtml==1.1.5
jupyterlite-pyodide-kernel==0.0.6
sphinx_exec_code==0.10