sphinx-book-theme
sphinxcontrib-applehelp
sphinxcontrib-details-directive
sphinxcontrib-htmlhelp
sphinxcontrib-mermaid
sphinxcontrib-packages
sphinxcontrib-serializinghtml
sphinx==6.2.1
git+https://github.com/bonartm/sphinxcontrib-quizdown
pydata-sphinx-theme>=0.13.3