@import url('https://fonts.googleapis.com/css?family=Source%20Code%20Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#editor {
    flex-grow: 1;
    min-height: 0; /* This prevents overflow outside the container */
    font-family: Source Code Pro; /* Set the font-family */
}

#output {
    /* Adjust these values if you want to change the textarea height */
    height: 30%;
    resize: none; /* Textarea cannot be manually resized */
    overflow: auto;
    font-family: Open Sans, Source Code Pro; /* Set the font-family */
    font-size: 15px; /* Set the font-size */
    resize: none; /* Allow vertical resizing only */
    margin: 0px;
    border-radius: 0px; /* 0 border-radius */
    outline: none; /* Remove the default focus outline */
    background-color: #fff; /* Set the background color */
    border: 1px solid #ccc; /* Set the border */
    transition: border-color 0.3s; /* Add transition effect to border color */

}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
}

textarea:focus {
    border-color: #007bff;
}

#runButton, #clearButton {
    border-radius: 0px; /* Adjust the value to change the roundness of the corners */
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    font-family: Open Sans, Source Code Pro; /* Set the font-family */
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}

#runButton:hover, #clearButton:hover {
    background-color: #e7e5e5;
    color: black;
    transition: background-color 0.2s, color 0.2s;
}