@import url('//fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,700,500,800,600');
/* Update the text color and padding */

code {
    padding: 2px;
    background-color: #f0f0f0;
    border-radius: 0px;
    font-family: 'Source Code Pro', monospace !important;
}

pre {
    font-family: 'Source Code Pro', monospace !important;
    border-radius: 0px;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, th, td {
   font-family: 'Open Sans';
}

b, strong {
    font-weight: bold;
}

#color-mode-switcher {
    display: none !important;
}


.challenge-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height:1200px;
}

.challengeIDE {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* .free-response-wrapper {
    height:400px;
    position: relative;
    padding-bottom: 56.25%;
}

.free-response {
    position: absolute;
    width: 100%;
    height: 100%;
} */


.code-runner-wrapper {
    position: relative;
    padding-bottom: 56.25%; 
    height:500px;
    max-width: 875px;

}

.code-runner {
    position: absolute;
    width: 100%;
    height: 100%;
} 